footer .titulo-seccion{
    color: var(--colorTitulos)
  }
  footer .copy{
    color: #000;
  }
  .redesSociales{
    display: flex;
    justify-content: center;
  }
  .redesSociales i{
    font-size: 30px;
    padding: 0 30px;
  }
  .contenedor{
    display: flex;
    justify-content: center;
    padding: 30px
  }
  .descripcion{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 25px;
    color: aqua;
  }